<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Airline航空 - 予約確定</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap-reboot.min.css">
        <link type="text/css" rel="stylesheet" href="../assets/css/style.css">
    </head>
    <body id="booking_confirm">
        <header>
            <div class="container">
                <div class="flex">
                    <h1><a href="/">AIRLINE</a></h1>
                    <nav>
                        <ul>
                            <li><a href="/">予約</a></li>
                            <li><a href="/member_register">会員登録</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <h2>ご予約が確定しました。</h2>
                <div>
                    <h3>ご予約内容</h3>
                    <p><%= familyname %> <%= firstname %>様</p>
                    <p><%= date %></p>
                    <p>XYZ<%= flight_num %>便</p>
                    <p><%= departure %> <%= departure_time %> → <%= arrival %> <%= arrival_time %></p>
                    <p>大人<%= people %>名</p>
                    <p id="total">合計<%= total %>円</p>
                </div>
                <div>
                    <p class="button"><a href="/">TOPへ戻る</a></p>
                </div>
            </div>
        </main>
        <footer>
            <div class="container">
                <small>Copyright &copy; 2024 Airline. All rights reserved.</small>
            </div>
        </footer>
        <script type="text/javascript">
        </script>
    </body>
</html>
