<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>User Edit</title>
        <style>
            body {
                background: beige;
            }

            .container {
                width: 768px;
                margin: auto;
            }

            @media screen and (max-width: 768px) {
                .container {
                    width: 100%;
                    margin: auto;
                }
            }

            h1 {
                font-weight: normal;
            }

            form {
                text-align: center;
                margin: 10px;
            }

            .wrap {
                margin: auto;
                width: 350px;
                display: flex;
                justify-content: space-between;
                padding: 5px;
            }

            button {
                background: grey;
                color: white;
                padding: 5px 10px;
                border-radius: 5px;
            }

            button:hover {
                cursor: pointer;
                opacity: .7;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>更新フォーム</h1>
            <form action="/update/<%= personas[0].id %>" method="POST"><!-- action＝送信後の遷移場所 -->
                <div class="wrap"><label for="username">ユーザー名</label><input type="text" id="username" name="username" value="<%= personas[0].username %>"><br></div>
                <div class="wrap"><label for="age">年齢 </label><input type="text" id="age" name="age" value="<%= personas[0].age %>"><br></div>
                <div class="wrap"><label for="rating">評価 </label><input type="text" id="rating" name="rating" value="<%= personas[0].rating %>"><br></div>
                <div class="wrap"><label for="reason">評価内容 </label><textarea type="text" id="reason" name="reason" cols="30" rows="5"><%= personas[0].reason %></textarea><br></div>
                <button type="submit">更新</button>
            </form>
        </div>
    </body>
</html>
