<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Airline航空 - 会員ログイン</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap-reboot.min.css">
        <link type="text/css" rel="stylesheet" href="../assets/css/style.css">
    </head>
    <body id="member_login">
        <header>
            <div class="container">
                <div class="flex">
                    <h1><a href="/">AIRLINE</a></h1>
                    <nav>
                        <ul>
                            <li><a href="/">予約</a></li>
                            <li><a href="/member_register">会員登録</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <div id="members">
                    <form action="" method="post">
                        <h2>ID・パスワードが間違っている、またはご登録のアカウントが存在しません。</h2>
                        <button id="login_btn" type="submit">ログイン</button>
                        <div>
                            <p class="button"><a href="/member_register">新規会員登録へ</a></p>
                        </div>
                        <input type="hidden" name="date" value="<%= date %>">
                        <input type="hidden" name="departure_time" value="<%= departure_time %>">
                        <input type="hidden" name="departure" value="<%= departure %>">
                        <input type="hidden" name="arrival_time" value="<%= arrival_time %>">
                        <input type="hidden" name="arrival" value="<%= arrival %>">
                        <input type="hidden" name="flight_num" value="<%= flight_num %>">
                        <input type="hidden" name="people" value="<%= people %>">
                        <input type="hidden" name="total" value="<%= total %>">
                    </form>
                </div>
            </div>
        </main>
        <footer>
            <div class="container">
                <small>Copyright &copy; 2024 Airline. All rights reserved.</small>
            </div>
        </footer>
    </body>
</html>
