<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>review</title>
        <link type="text/css" rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="container">
            <select name="evaluation" id="evaluation">
                <option selected>選択してください</option>
                <option value="1">評価の高い順</option>
                <option value="2">評価の低い順</option>
            </select>
            <table id="contents">
                <% for(let i=0; i < personas.length; i++){ %>
                    <tr class="tr1">
                        <td> 評価：　<%= personas[i].rating %>
                        </td>
                    </tr>
                    <tr class="tr2">
                        <td>
                            <%= personas[i].id %>. <%= personas[i].username %> （<%= personas[i].age %>歳）
                        </td>
                    </tr>
                    <tr class="tr3">
                        <td>
                            <%= personas[i].reason %>
                        </td>
                    </tr>
                    <% } %>
            </table>
        </div>
        <script type="text/javascript">

            let personasList = JSON.parse('<%= JSON.stringify(personas) %>'.replace(/&#34;/g, '"'));
            let evaluation = document.querySelector("#evaluation");
            function insert(i) {
                let contents = document.getElementById("contents");
                //リスト追加
                let tr1 = `<tr class="tr1">`;
                tr1 += `
                        <td> 評価：　${personasList[i].rating}</td>
                    </tr>
                    <tr class="tr2">
                        <td>
                            ${personasList[i].id}. ${personasList[i].username} （${personasList[i].age}歳）
                        </td>
                    </tr>
                    <tr class="tr3">
                        <td>
                            ${personasList[i].reason}
                        </td>
                    </tr>`;
                contents.insertAdjacentHTML("beforeend", tr1);
            }
            evaluation.addEventListener('change', function () {
                //デフォルトをリセット
                let contents = document.getElementById("contents");
                while (contents.firstChild) {
                    contents.removeChild(contents.firstChild);
                }
                //評価の高い順
                if (event.target.value == 1) {
                    personasList.sort(function (a, b) {
                        if (a.rating > b.rating) return -1;
                        if (a.rating < b.rating) return 1;
                        return 0;
                    })
                    for (let i = 0; i < personasList.length; i++) {
                        insert(i);
                    }
                }
                //評価の低い順
                else if (event.target.value == 2) {
                    personasList.sort(function (a, b) {
                        if (a.rating < b.rating) return -1;
                        if (a.rating > b.rating) return 1;
                        return 0;
                    })
                    for (let i = 0; i < personasList.length; i++) {
                        insert(i);
                    }
                }
            });
        </script>
    </body>
</html>
