<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>EC Store - 商品ページ</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap-reboot.min.css">
        <link type="text/css" rel="stylesheet" href="../assets/css/style.css">
    </head>
    <body>
        <header>
            <ul>
                <li><a href="/"><img src="../assets/img/アイコン_花.png" alt="アイコン_花"></a></li>
                <li><a href="/register"><img src="../assets/img/アイコン_ユーザー.png" alt="アイコン_ユーザー"></a></li>
                <li><a href="/cart"><img src="../assets/img/アイコン_カート.png" alt="アイコン_カート"></a></li>
                <li><a href="/login"><img src="../assets/img/アイコン_管理画面.png" alt="アイコン_管理画面"></a></li>
            </ul>
        </header>
        <main>
            <div class="container">
                <form id="productArea" action="/addCart/<%= data[0].name %>" method="post">
                    <h1><%= data[0].name %></h1>
                    <input type="hidden" id="name" name="name" value="<%= data[0].name %>">
                    <p><img src="../assets/img/<%= data[0].image %>" alt="<%= data[0].name %>"></p>
                    <input type="hidden" id="image" name="image" value="<%= data[0].image %>">
                    <p id="description"><%= data[0].description %></p>
                    <p id="price">価格：<%= data[0].price %>円</p>
                    <input type="hidden" id="price" name="price" value="<%= data[0].price %>">
                    <p id="stock">在庫数：<%= data[0].stock %>本</p>
                    <button id="addCart">カートに入れる</button>
                    <button><a href="/">一覧へ戻る</a></button>
                </form>
                <div id="reviewArea">
                    <h2>レビュー</h2>
                    <select id="sortSelect">
                        <option value="desc" selected>評価の高い順</option>
                        <option value="asc">評価の低い順</option>
                    </select>
                    <ul id="reviewContent"></ul>
                </div>
            </div>
        </main>
        <footer>
            <div class="container">
                <small>Copyright &copy; 2024 EBA All rights reserved.</small>
            </div>
        </footer>
        <script type="text/javascript">
            const products = JSON.parse('<%= JSON.stringify(products) %>'.replace(/&#34;/g, '"'));
            const reviews = JSON.parse('<%= JSON.stringify(reviews) %>'.replace(/&#34;/g, '"'));
            const productArea = document.querySelector("#productArea")
            const productName = document.querySelector("h1")
            const description = document.getElementById("description")
            const addCart = document.getElementById("addCart")
            const reviewContent = document.getElementById("reviewContent")
            const productImgParag = document.createElement("p");
            const productImg = document.createElement("img");
            //カートに追加
            addCart.addEventListener("click", function () {
                alert('カートに追加しました')
            });
            //ページ読み込み時は高い順
            window.onload = () => {
                reviews.sort((a, b) => b.evaluation - a.evaluation);
                createReviewsList(reviews);
            }
            //レビューソート機能
            sortSelect = document.querySelector("#sortSelect")
            sortSelect.addEventListener("change", function () {
                if (event.target.value == 'desc') {
                    reviews.sort((a, b) => b.evaluation - a.evaluation);
                    createReviewsList();
                } else if (event.target.value == 'asc') {
                    reviews.sort((a, b) => a.evaluation - b.evaluation);
                    createReviewsList();
                }
            });
            //レビュー表示領域
            function createReviewsList() {
                //デフォルトをリセット
                while (reviewContent.firstChild) {
                    reviewContent.removeChild(reviewContent.firstChild);
                }
                reviews.map((data) => {
                    const reviewList = document.createElement("li");
                    //データの挿入
                    reviewList.innerHTML
                        = `評価：${data.evaluation}<br>${data.content}`
                    reviewContent.appendChild(reviewList);
                });
            }
        </script>
    </body>
</html>
