<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Airline航空 - チケット確認</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap-reboot.min.css">
        <link type="text/css" rel="stylesheet" href="../assets/css/style.css">
    </head>
    <body id="ticket_check">
        <header>
            <div class="container">
                <div class="flex">
                    <h1><a href="/">AIRLINE</a></h1>
                    <nav>
                        <ul>
                            <li><a href="/">予約</a></li>
                            <li><a href="/member_login">ログイン</a></li>
                            <li><a href="/member_register">会員登録</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <form id="table" method="post">
                    <table>
                        <tr>
                            <th colspan="2">旅程</th>
                            <th>便名</th>
                            <th>クラス</th>
                            <th>運賃</th>
                            <th>人数</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>
                                <%= date %>
                                <input type="hidden" name="date" value="<%= date %>">
                            </td>
                            <td>
                                <%= departure_time %><br>
                                    <%= departure %><br>
                                        <%= arrival_time %><br>
                                            <%= arrival %>
                                <input type="hidden" name="departure_time" value="<%= departure_time %>">
                                <input type="hidden" name="departure" value="<%= departure %>">
                                <input type="hidden" name="arrival_time" value="<%= arrival_time %>">
                                <input type="hidden" name="arrival" value="<%= arrival %>">

                            </td>
                            <td>XYZ<%= flight_num %><input type="hidden" name="flight_num" value="<%= flight_num %>">
                            </td>
                            <td>普通席</td>
                            <td>
                                <%= type %>
                            </td>
                            <td>
                                <%= people %>名
                                <input type="hidden" name="people" value="<%= people %>">
                            </td>
                            <td><button id="delete_btn">削除</button></td>
                        </tr>
                    </table>
                    <p id="total">合計金額：<%= total %>円</p>
                    <input type="hidden" name="total" value="<%= total %>">
                    <button formaction="/member_login">会員ログインして次へ</button>
                    <button formaction="/booking_info">会員ログインせず次へ</button>
                </form>
            </div>
        </main>
        <footer>
            <div class="container">
                <small>Copyright &copy; 2024 Airline. All rights reserved.</small>
            </div>
        </footer>
        <script type="text/javascript">
            let delete_btn = document.getElementById("delete_btn")
            let table = document.getElementById("table")
            delete_btn.addEventListener("click", function () {
                while (table.firstChild) {
                    table.removeChild(table.firstChild);
                }
                deleted = document.createElement("p")
                deleted.innerHTML = "選択されたチケットを削除しました"
                table.append(deleted)
            })
        </script>
    </body>
</html>
